<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>computer-database</display-name>
  <servlet>
    <servlet-name>ComputerServelet</servlet-name>
    <servlet-class>com.excilys.cdb.servlet.ComputerServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComputerServelet</servlet-name>
    <url-pattern>/computerServelet</url-pattern>
  </servlet-mapping>
</web-app>